BOOT_URL=http://127.0.0.1:13903
KERIA_URL=http://127.0.0.1:13901
WITNESS1_AID="BE8KZY7lh1Oa4E56jTgKYr5kkyti_dlaJ4sNt1jAnhBu"
WITNESS2_AID="BDqEc5O_NITu5ypOYYsKj0P1mV08gcfRFnN0GgynBxbH"
WITS=${WITNESS1_AID},${WITNESS2_AID}
SCHEMA_URLS=http://schema.origincloud.net/oobi/EBfdlu8R27Fbx-ehrqwImnK-8Cm79sqbAQ4MmvEAYqao
WITNESS_URLS="http://witness1:5631/oobi/${WITNESS1_AID}/controller http://witness2:5631/oobi/${WITNESS2_AID}/controller"
AWS_ACC_ID=355627884303
AWS_REGION=us-east-1
# original
# KERIA_VERSION=f31296a
# VC-390
KERIA_VERSION=ba76266
WITNESS_VERSION=86c50b4

## Uncomment following lines to debug in IDE

# WITS=BE8KZY7lh1Oa4E56jTgKYr5kkyti_dlaJ4sNt1jAnhBu,BDqEc5O_NITu5ypOYYsKj0P1mV08gcfRFnN0GgynBxbH
# WITNESS_URLS=http://witness1:5631/oobi/BE8KZY7lh1Oa4E56jTgKYr5kkyti_dlaJ4sNt1jAnhBu/controller http://witness2:5631/oobi/BDqEc5O_NITu5ypOYYsKj0P1mV08gcfRFnN0GgynBxbH/controller
